{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-2">Account setup</h1>

    <p class="lead text-center">
        Setup your account before you can start using <strong>MyCryptool</strong>.
    </p>


    <form method="POST" action="{{ url('account_setup') }}">
        <div class="form-group form-dark p-3">
            <div class="row">
                <div class="col-sm-4 text-right">
                    <label for="start-capital" class="m-2">Start capital:</label>
                </div>
                <div class="col-sm-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-dark text-light">€</span>
                        </div>
                        <input type="text" class="form-control text-light bg-dark" id="start-capital" name="start-capital" value="0" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <button type="submit" class="btn btn-secondary">Save</button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}