<form method="POST" action="{{ url('account_update') }}">
    <div class="form-group">
        <label for="start-capital">Start capital:</label>
        <input type="text" class="form-control" id="start-capital" name="start-capital" value="{{ account.startCapital }}" />

        <button type="submit" class="btn btn-primary">Save</button>
    </div>
</form>