@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

html, body {
  background: #000000;
  color: #cccccc;
}

.meme-figure {
  max-width: 30%;
  opacity: 0.9;
}