@import '~bootstrap/scss/bootstrap';
$fa-font-path: "~font-awesome/fonts";
@import '~font-awesome/scss/font-awesome';

html, body {
  background: #000000;
  color: #cccccc;
}

.meme-figure {
  max-width: 30%;
  opacity: 0.9;
}

.navbar {
  .last-trading-price {
    color: #bbbbbb;
  }
}

.order-list-day-header {
  padding-bottom: 10px !important;
  border-bottom: 5px dotted gray;
  margin-bottom: 15px;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.order-list-order-header {
  display: inline-block;

  &:hover {
    color: white;
    cursor: pointer;
  }
}

.day-orders-container {
  border-bottom: 5px dotted gray;
  margin-bottom: 15px;
}