{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('build/home.js') }}"></script>
{% endblock %}

{% block body %}
    <div id="container" data-meme-file="{{ asset('images/memes/'~ meme) }}"></div>
{% endblock %}
