{% extends 'base.html.twig' %}

{% block body %}
    <div class="alert my-2" role="alert">
        The list of open orders is not real-time synced with GDAX.
        <a onclick="reloadOrderList();" class="btn btn-dark mx-2">Collect latest open orders</a>
    </div>

    <div id="order-list">
        {{ render(controller('App\\Controller\\FrontendController::orderList')) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        function reloadOrderList() {
            var orderListElement = $('#order-list');
            orderListElement.html('<div class="text-center"><i class="fa fa-spinner fa-3x fa-pulse"></i></div>');

            MyCryptool.updateOrders()
                .then(function () {
                    MyCryptool.loadOrderList(orderListElement);
                });
        }
    </script>
{% endblock %}