<table class="table table-striped table-dark">
    <thead>
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Size</th>
        <th scope="col">Price</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    {% for order in orders %}
        <tr>
            <td>{{ order.productId }}</td>
            <td>{{ order.size }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.orderCreatedAt | date('d-m-Y H:i:s') }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
